MyGame/obj/Debug/net8.0/MyGame.AssemblyInfoInputs.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfo.cs
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfoInputs.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.csproj.AssemblyReference.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfoInputs.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfo.cs
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfoInputs.cache
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfo.cs
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.csproj.AssemblyReference.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfoInputs.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfo.cs
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfo.cs
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfoInputs.cache
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfo.cs
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfoInputs.cache
/MyGame/bin/Debug
/MyGame.Tests/bin
/MyGame.Tests/obj/Debug
/MyGame.Tests/bin
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfo.cs
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.AssemblyInfoInputs.cache
MyGame.Tests/obj/Debug/net8.0/MyGame.Tests.csproj.AssemblyReference.cache
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfo.cs
MyGame/obj/Debug/net8.0/MyGame.AssemblyInfoInputs.cache
